// Time CMD
// Copyright (c) 2016-2023 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2023 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/TimeCMD/Application.rh>
#include <XYO/TimeCMD/Copyright.rh>
#include <XYO/TimeCMD/Version.rh>

1  ICON "Application.ico"

XYO_APPLICATION_VERSION_INFO(XYO_TIMECMD,"time-cmd.exe","Show execution time of command for benchmark purposes")
XYO_APPLICATION_MANIFEST("Application.manifest")
